@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
@layer base {
  :root {
    --color-primary: rgb(20, 30, 40);
    --color-secondary: rgb(53, 58, 77);
    --color-text-base: rgb(255, 255, 255);
    --color-bg-primary: rgb(1, 0, 5);
  }

  .theme-black{
    --color-primary: rgb(28, 10, 45);
    --color-secondary: rgb(128, 128, 128);
    --color-text-base: rgb(255, 255, 255);
    --color-bg-primary: rgb(0, 0, 0);
  }
  .theme-white{
    --color-primary: hsl(0, 0%, 100%);
    --color-secondary: hsl(247, 75%, 61%);
    --color-text-base: rgb(1, 0, 5);
    --color-bg-primary: rgb(255, 255, 255);
  }
  .theme-twilight{
    --color-primary: rgb(128, 128, 128);
    --color-secondary: hsl(0, 3%, 79%);

  }
  @font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url(/Robot-font.woff2) format("woff");
  }
  @font-face {
    font-family: Proxima Nova;
    font-weight: 500;
    src: url(/fonts/proxima-nova/500-medium.woff) format("woff");
  }
}